<% @messages.each do |message|%>
<div class = 'col-md-10 col-md-offset-1'>
    <h1><%= message.title %></h1>
    <p class = 'lead'><%=message.description %></p>
    <%= link_to "Join Convo" , message, class: 'btn btn-primary btn-md' %>
    </div>
<% end %>